body {
    background-color: lightblue;
  }
  
  h1 {
    color: darkblue;
    text-align: center;
  }

  .wrapper {
    margin: 0 auto;
    width: 800px;
    position: relative;
  }

  .Score {
    color: darkblue;
    position: absolute;
    top: 0;
    left: 0;
  }

  .Lives {
    color: darkblue;
    position: absolute;
    top: 0;
    right: 0;
  }

  .Pause {
    color: darkblue;
    position: absolute;
    top: 50;
    right: 50;
  }


  
  canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }